{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Define Parameters{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <p class="lead">Protein Sequence Collections Selected For Motif Analysis</p>
        <div class="form-group">
            <ul class="list-group">
                {% for collection in collection_list %}
                    <div class="col-xs-4">
                        <li class="list-group-item">
                            {{ collection.collection_name }}
                            <span class="badge">{{ collection.sequence_count }}</span>
                        </li>
                    </div>
                {% endfor %}
            </ul>
        </div>

        <div class="clearfix"></div>
        <div class="top15"></div>

        <p class="lead">Motifs Selected For Protein Sequence Analysis</p>
        <div class="form-group">
            <ul class="list-group">
                {% for motif in motif_list %}
                    <div class="col-xs-4">
                        <li class="list-group-item">
                            {{ motif.motif }}
                        </li>
                    </div>
                {% endfor %}
            </ul>
        </div>

        <div class="clearfix"></div>

        <div class="top15"></div>
        <p class="lead">{% render_field form.min_num_motifs_per_sequence.label %}</p>
        {% render_field form.min_num_motifs_per_sequence  class+="form-control" %}

        <div class="top15"></div>
        <p class="lead">{% render_field form.max_char_distance_between_motifs.label %}</p>
        {% render_field form.max_char_distance_between_motifs class+="form-control" %}


        <div class="clearfix"></div>

        <div class="form-group top15">
            <button class="btn btn-block btn-primary" type="submit">Select Parameters</button>
        </div>
    </form>
{% endblock %}