{% extends 'base.html' %}

{% block title %}Motif Analysis Tool{% endblock %}

{% block content %}
    <div class="bg-info" style="padding:15px;">
        <form method="post">
            <ul class="nav nav-tabs">
                <li><a href="#copy_paste_fasta" data-toggle="tab">Copy/Paste FASTA</a></li>
                <li><a href="#select_curated_collections" data-toggle="tab">Select Curated Collection(s)</a></li>
            </ul>
            <div class="tab-content" id="tabs">
                <div class="tab-pane" id="copy_paste_fasta">
                    <div class="form-group">
                        <h3>Paste FASTA-format amino acid sequences.</h3>
                        <textarea class="form-control" name="sequence_data" rows="10" style="resize:vertical;" maxlength="20000" wrap="soft" required></textarea>
                    </div>
                </div>
                <div class="tab-pane" id="select_curated_collections">
                    <div class="form-group">
                        <h3>Select collections of amino acid sequences.</h3>
                        {% for collection in collection_list %}
                            <label class="checkbox-inline">
                                <input type="checkbox" value="{{ collection.pk }}" name="selected_collections[]">
                                {{ collection.collection_name }} <span>{{ collection.sequence_count }}</span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h3>Select motifs to search for in pasted sequences.</h3>
                {% for motif in motif_list %}
                    <label class="checkbox-inline"><input type="checkbox" value="{{ motif.pk }}" name="selected_motifs[]">{{ motif.motif }}</label>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h3>Minimum motif match density.</h3>
                    <input type="number" class="form-control" name="min_num_motifs" placeholder="3" required>
                </div>
                <div class="col-xs-6">
                    <h3>Maximum range to group motif matches.</h3>
                    <input type="number" class="form-control" name="max_motif_range" placeholder="100" required>
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary top15">Submit Query</button>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function activaTab(tab){
            $('.nav-tabs a[href="#' + tab + '"]').tab('show');
        }

        activaTab('copy_paste_fasta');
    </script>
{% endblock %}