{% extends 'base.html' %}

{% block title %}Select Collections{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <p class="lead">Select Protein Sequence Collections For Motif Analysis</p>

        <div class="form-group">
            <ul class="list-group">
                {% for collection in collections %}
                    <div class="col-xs-4">
                        <li class="list-group-item">
                            <label>
                                <input type=checkbox name="collection_group[]" value="{{ collection.pk }}">
                                {{ collection.collection_name }}
                            </label>
                            <span class="badge">{{ collection.sequence_count }}</span>
                        </li>
                    </div>
                {% endfor %}
            </ul>
        </div>

        <div class="clearfix"></div>

        <div class="form-group top15">
            <button class="btn btn-block btn-primary" type="submit">Select Sequence Collection(s)</button>
        </div>
    </form>
{% endblock %}