pi amqp (2.2.2)
billiard (3.5.0.3)
biopython (1.70)
celery (4.1.0)
Django (2.0)
kombu (4.1.0)
numpy (1.13.3)
pip (9.0.1)
pytz (2017.3)
redis (2.10.6)
setuptools (38.2.4)
vine (1.1.4)
wheel (0.30.0)
amqp (2.2.2)
billiard (3.5.0.3)
biopython (1.70)
celery (4.1.0)
Django (2.0)
kombu (4.1.0)
numpy (1.13.3)
pip (9.0.1)
pytz (2017.3)
redis (2.10.6)
setuptools (38.2.4)
vine (1.1.4)
wheel (0.30.0)
